<!DOCTYPE html>
<html lang='fr'>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>À propos</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="images/cards.png" rel="icon">
        <div class="header">
            <a onclick="history.back()"><i class="fa-solid fa-circle-left"></i>Retour</a>
        </div>
    </head>

    <body>

        <div style="padding-left: 8%; padding-bottom: 5%; height: 100%;">
            <h1>Projet final</h1>
            <p>
            ---<br>
            Site-web pour étudier avec des cartes, créé avec en-tête l'utilisation depuis un téléphone<br>
            ---<br>
            <br>
            <b>Calendrier:</b><br>
            >Étape 1 - Lancement du projet : 26 mars<br>
            >Étape 3 - Interface graphique – Cahier des charges fonctionnel – Planning prévisionnel : 3 avril
            >Présentation finale du projet : 7-8 Mai<br>
            <br>
            <b>Taches:</b><br>
            <table>
                <tr>
                    <td style="padding-right: 10px;">
                        <ol>
                            <li><s>Création du site Html + CSS (pas mal fini)</s></li>
                            <li><s>Création du serveur (avec Node.js)</s></li>
                            <li><s>Login et Sign up</s></li>
                            <li><s>Création d'une collection de cartes pour test</s></li>
                            <li><s>Animation+ Fonctionnalité des cartes (CSS + Js + HTML)</s></li>
                            <li><s>Switch to .mustache</s></li>
                            <li><s>Fonctions: Création de cartes, ensembles et dossiers</s></li>
                            <li><s>Fonctions: Étudier les cartes</s></li>
                            <li><s>Ce qu'on veut faire du site doit être <u>DÉTERMINÉ</u></s></li>
                            <li><s>Fonctionnalités en plus (shuffle)</s></li>
                            <li><s>Finalisation du site</s></li>
                        </ol>
                    </td>
                    <td>
                        <p>
                            <s>-> 12 Avril</s><br>
                            <s></s>-> 16 Avril</s><br>
                            <s>-> 28 Avril</s><br>
                            <s>-> 2 Mai</s><br>
                            <s>-> 3 Mai</s><br>
                            <s>-> 3 Mai</s><br>
                            <s>-> 4 Mai</s><br>
                            <s>-> 5 Mai</s><br>
                            <s>-> 6 Mai</s><br>
                            <s>-> <u>AVANT</u> 7 Mai</s>
                        </p>
                    </td>
                </tr>
            </table><br>
            <b>Liens à consulter:</b><br>
            <a href="https://www.canva.com/design/DAF2xYuQIJE/5-atX4cNGtwXDZKgyHcNhw/edit?utm_content=DAF2xYuQIJE&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">><u>Voir le premier design</u></a></br>
            <a href="https://nickjanes.notion.site/How-to-Create-Custom-Widgets-and-Embed-in-Notion-de75fba83e954a1480281ab5dfed55eb">><u>Créer un widget pour notion</u></a></br>
            <a href="https://bootcamp.uxdesign.cc/create-simple-custom-notion-widgets-using-chatgpt-40b772350473">><u>Pour incorporer un API de ChatGPT</u></a></br>
            <br>
            <b>Vision:</b><br>
            <img src="images/site design.png"><br>
            <br>
            <b>Créatrices:</b><br>
            Nikola Ellis et Anais Turcotte<br>
        </div>

        <div class="footer" style="position: sticky;">Most trusted ally in all endeavors : <a href="https://www.w3schools.com/css/default.asp" style="color: white;">w3schools</a>
        </div>

      <script src="js/index.js"></script>
    </body>
</html>