<!DOCTYPE html>
<html leng='fr'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contente="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Flashy Cards</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/styless.css">
    <link href="images/cards.png" rel="icon">
</head>

<body>
    <div class="header">
        <a href="a_propos" id="one">About</a>
        <div class="header-right">
            <a href="ex_cards" class="two">Sign Up</a>
            <button class="toggle-login" id="three">Login</button>
        </div>
    </div>

    <div class="container">
        <div class="form_container">
            <form action="creerCarte" method="post">
                <h2>New card set</h2>
                <div class="input-group">
                    <input type="text" id="nomEnsemble" name="nomEnsemble" required>
                    <label for="nomEnsemble">Nom de l'ensemble</label>
                </div>
                <div class="input-group">
                    <select name="nomDossier" id="nomDossier" required>
                    <option>selectionnez</option>
                    {{#dossiers}}
                        <option id="{{.}}" name="{{.}}">{{.}}</option>
                    {{/dossiers}}
                    </select>
                    <label for="nomDossier"> </label>
                </div>
                <div class="input-group">
                    <input type="text" id="motTerme" name="motTerme" required>
                    <label for="motTerme">Mot clé</label>
                </div>
                <div class="input-group">
                    <input type="text" id="motDefinition" name="motDefinition" required>
                    <label for="motDefinition">Définition</label>
                </div>
                    <button type='submit' value='creerCarte' class="btn">Valider</button>
                    <button class="btn"><i class="fa-regular fa-square-plus"></i> Ajouter une carte</button>
            </form>
        </div>
    </div>

    <div class="footer">something inc, all rights reserved
    </div>

    <script src=""></script>
</body>

</html>