<!DOCTYPE html>
<html leng='en'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contente="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Flashy Cards</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link href="images/cards.png" rel="icon">
</head>

<body>
    <div class="header">
        <a href="a_propos" id="one">About</a>
        <div class="header-right">
            <a href="ex_cards" class="two">Sign Up</a>
            <button class="toggle-login" id="three">Login</button>
        </div>
    </div>

    <div class="container">
        <div class="form_container">
            <form action="" method="post">
                <h2>New card set</h2>
                <div class="input-group">
                    <input type="text" id="nom" name="nomEnsemble" required>
                    <label for="nom">Nom</label>
                </div>
                <div class="input-group">
                    <select name="dissiers" id="lab" required>
                        <option value={null}></option>
                        <option value="label1">label1</option>
                        <option value="label2">label2</option>
                        <option value="label3">label3</option>
                        <option value="label4">label4</option>
                        <option value="label5">label5</option>
                    </select>
                    <label for="dossiers">Catégorie</label>
                </div>
                <div class="input-group">
                    <input type="text" id="mot" name="motTerme" required>
                    <label for="mot">Mot clé</label>
                </div>
                <div class="input-group">
                    <input type="text" id="def" name="motDefinition" required>
                    <label for="def">Définition</label>
                    <button class="btn">valider</button>
                    <button class="btn"><i class="fa-regular fa-square-plus"></i> ajouter une carte</button>
                </div>
            </form>
        </div>
    </div>

    <div class="footer">something inc, all rights reserved
    </div>

    <script src=""></script>
</body>

</html>