<!DOCTYPE html>
<html lang='fr'>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" contente="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>exemple cartes</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link href="../public/css/styles.css" rel="stylesheet" type="text/css" />
        <link href="images/cards.png" rel="icon">
        <title>Explorer</title>
    </head>

    <body>
        <div class="header">
            <a onclick="history.back()">Retour</a>
        </div>

        <div class="row">
            <div class="slider-container">
                <div class="slider">
                    <input type="range" min="1" max="3" value="2" />
                </div>
            </div>
            <div class="overlap"></div>
            
            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--front">
                        <h2>Developer card</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__body">
                                <h3>titre</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Donec rhoncus dolor sed libero gravida consectetur. Maecenas 
                                ornare molestie egestas. Integer vel cursus velit, quis dignissim 
                                felis. Fusce vel elementum leo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="buttons">
                <button class="butt" href="#default">shuffle</button></br>
                <button class="butt" href="#default">back</button></br>
                <button class="butt" href="#default">indice</button></br>
                <button class="butt" href="#default">next</button></br>
                <button class="butt" href="#default">Retourner</button>
            </div>
        </div>
        <div class="footer">something inc, all rights reserved
        </div>
        <script src="/js/card.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>