<!DOCTYPE html>
<html lang='fr'>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" contente="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Card set</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="images/cards.png" rel="icon">
        <title>Explorer</title>
    </head>

    <body>
        <div class="header">
            <a href="home">Finir</a>
        </div>

        <div class="row">
            <div class="slider-container">
                <div class="slider" id='slider'>
                    <input type="range" min="0" max="2" value="{{ niveau }}">
                </div>
            </div>
            
            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--front">
                        <h2 id='front'>{{ front }}</h2>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card__content">
                            <div class="card__body">
                                <h2 id='back'>{{ back }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="buttons">
                {{! <button onclick="history.back()">Retour</button><br> }}
                <form action="nextCard" method="post">
                    <button type='submit' value='nextCard' class="btn">Next</button>
                </form>
                {{! <button id='nextButton' onclick="nextCard()">Next</button> }}
            </div>
        </div>

        <script src="/js/card.js"></script>
        <script src="/js/index.js"></script>
        {{! <script src="/js/next.js"></script> }}
    </body>
</html>