<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
      <link href="css/styles.css" rel="stylesheet" type="text/css" />
      <link href="images/cards.png" rel="icon">
    </head>

    <body>
      <div class="header">
        <a href="a_propos.mustache">À propos</a>
        <div class="header-right">
          <a href="profile.mustache">Profil</a>
        </div>
      </div>

      <div class="title">
        <h1>Allo {{ username }}</h1>
      </div>

      <div class="menu-bar">
        <table class="center">
          <tr>
            <td><a href="mes_cours">Cours</a></td>
            <td><a href="ex_card_set.html">Ensembles</a></td>
            <td><a href="creer_liste">Créer</a></td>
            <td><a href="explore.html">Explorer</a></td>
          </tr>
        </table>
      </div>

      <div class="footer">
        something inc, all rights reserved
      </div>

      <script src="js/index.js"></script>
    </body>
</html>