<!DOCTYPE html >
<html leng='en'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contente="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashy Cards</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="images/cards.png" rel="icon">
</head>
<body>
    <div class="header">
        <a onclick="history.back()">Retour</a>
    </div>
    <p>Bonjour, {{ user }}. Vous-êtes radiant aujourd'hui!</p>
    <script src="js/index.js"></script>
</body>
</html>