/* @CHARSET "UTF-8"; */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Tenor+Sans&display=swap');

/* Color palette */
:root{
  --green: #3C7F72;
  --primary: #E8E5E5;
  --secondary: #014921;
  --grey: #757575;
  --red: #992800;
  --orange: #D34A24;
  --yellow:#FFAF00;
}

/* Page styling */
* {
  box-sizing: border-box;
  font-family: "Calistoga";
  color: var(--secondary);
}

body {
  margin: 0;
  background-color: var(--primary);
  min-height: 100vh;
  /* border: 2px solid red; */
}

/* Main divisions */
.row {
  display: flex;
  height: 100%;
  min-height: 85vh;
}

.footer {
  background-color: var(--secondary);
  text-align: center;
  font-size: 15px;
  width: 100%;
  color: #ededed;
  padding: 15px;
  bottom: 0;
  max-height: 60px;
  position: fixed;
}

/* header */
.header {
  padding: 10px;
  top: 0;
  position: sticky;
  height: 8vh;
}

.header-center {
  float: center;
}

.header-right {
  float: right;
}

.header a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 20px;
  padding: 3px;
  border: 2px solid var(--secondary);
}

.bton{
  position: absolute;
  top: 5px;
  right: 81px;
  height: fit-content;
  padding: 4px;
  align-items: center;
  height: fit-content;
  background: var(--primary);
  font-size: 20px;
  font-weight: 500;
  border: 2px solid var(--secondary);
}

/* title */
.title {
  text-align: center;
  width: 100%;
  padding: 5%;
  background-color: var(--primary);
}

.title h1 {
  font-family: "Calistoga";
  font-size: 90px;
  font-weight: 100;
}

/* For cards */
.filter {
  background-color: var(--grey);
  padding: 10px;
  width: 20%;
  height: 40%;
  position: sticky;
  top: 10%;
  border-radius: 10px;
  left: 0;
  margin-left: 5px;
}

.explore_page {
  padding-left: 25%;
  padding-top: 20px;
  height: 100%;
  text-align: left;
  background-color: var(--primary);
  padding-bottom: 40px;
  padding-right: 40px;
}

/* Text */
a {
  text-decoration: none;
  color: var(--secondary);
}

/* Dans page */
.menu-bar {
  text-align: center;
  padding: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-bottom: 16%;
  background-color: var(--primary);
}

/* Table */
table.center {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid black;
  border-radius: 100px;
}

table.center td {
  border-right: 2px solid black;
  padding: 0 10px;
}

table.center td:last-child {
  border-right: none;
}

table.center td a {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  font-size: 30px;
  color: black;
}

table.center td a:hover {
  text-decoration-line: underline;
}

/* card study page */
.slider-container {
  position: absolute;
  height: 14rem;
  width: 3rem;
  -ms-flex: 4%;
  flex: 4%;
  top: 31%;
  left: 10%;
  z-index: 1;
}

.overlap::before,
.overlap::after {
  display: block;
  position: absolute;
  z-index: 99;
  color: #014921;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  padding: .75rem 0;
}
input[type="range"] {
  accent-color: #333;
  -webkit-appearance: none;
  background-color: rgba(#fff, .2);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: 15rem;
  height: 3.5rem;
  transform: translate(-50%, -50%) rotate(-90deg);
  /* border-radius: 1rem; */
  overflow: hidden;
  cursor: ns-resize;
}
/* background: rgba($color: #000000, $alpha: 0.12); */

.overlap{
  background-color: #ffffff83;
  position: absolute;
  height: 20rem;
  width: 3.5rem;
  -ms-flex: 4%;
  flex: 4%;
  top: 25%;
  left: 9.75%;
  border-radius: 1rem;
}

.overlap::before {
  content: "+";
}

.overlap::after {
  content: "-";
  bottom: 0;
}

.buttons {
  -ms-flex: 5%;
  flex: 5%;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.buttons button {
  margin: 5px;
}

.butt {
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  cursor: pointer;
  display: inline-flex;
  /* height: 2.5em; */
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
}

.butt:active {
  border-color: #4a4a4a;
  outline: 0;
}

.butt:focus {
  border-color: var(--secondary);
  outline: 0;
}

.butt:hover {
  border-color: #b5b5b5;
}

.butt:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

.card{
  /* top | right | bottom | left */
  margin: 100px 20% 10% 28%;
  width: 600px;
  min-height: 400px;
}

.card__inner{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card__inner.is-flipped{
  transform: rotateX(180deg);
}

.card__face{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2)
}

.card__face--front{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front h2{
  font-size: 32px;
}

.card__face--back{
  background-color: var(--light);
  transform: rotateX(180deg);
}

.card__content{
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
}